{% extends 'base.html' %}
{% block content %}

{% load static %}


{% block scripts %}
    <script src="{% static 'quizes/quiz-list.js' %}" defer></script>
{% endblock %}


    <div class="card text-center">
        <div class="card-header">
            Let's Take Yourself One Step Further
        </div>
        <div class="card-body" style="padding-bottom: 36%">

            <h5 class="card-title h1">Quiz List</h5>




            <!-- Modal -->
            <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Start</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" id="modal-body-confirm"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            <button type="button" id="start-button" class="btn btn-success">Yes</button>
                        </div>

                    </div>
                </div>
            </div>
            {% for object in object_list %}
                <button
                        class="btn btn-link modal-button"
                        data-pk="{{ object.pk }}"
                        data-quiz="{{ object.name }}"
                        data-questions="{{ object.number_of_questions }}"
                        data-difficulty="{{ object.difficulty }}"
                        data-time="{{ object.time }}"
                        data-pass="{{ object.required_score_to_pass }}"
                        data-toggle="modal"
                        data-target="#quizStartModal" >
                        <i class="btn btn-success">{{ object.name }}</i>
                </button>
            {% endfor %}


        </div>

        <div class="card-footer text-muted">
            Good luck
        </div>


    </div>










{% endblock %}